<a href="https://colab.research.google.com/github/divishagupta99/WiFi_Localisation/blob/master/WiFi_Localisation_MvG_Dist_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
!git clone https://github.com/divishagupta99/WiFi_Localisation.git

fatal: destination path 'WiFi_Localisation' already exists and is not an empty directory.

In [ ]:
import os
def rename(): 
  i = 0  
  for filename in os.listdir("/content/WiFi_Localisation/Data Set/"): 
    dst =str(filename).replace('-','_')
    src ='/content/WiFi_Localisation/Data Set/'+ filename 
    dst ='/content/WiFi_Localisation/Data Set/'+ dst 
      
    # rename() function will 
    # rename all the files 
    os.rename(src, dst) 
    i += 1
  print(i)

In [ ]:
rename()

96

In [ ]:
dataframes = []
names = []
def importing_df():
  for filename in os.listdir("/content/WiFi_Localisation/Data Set/"):
    dataframes.append(pd.read_csv("/content/WiFi_Localisation/Data Set/"+str(filename),header=1))
    new_name = str(filename).replace('.csv','')
    names.append(new_name)

In [ ]:
def preprocessing():
  for i in range(len(dataframes)):
    #df_temp = dataframes[i]
    dataframes[i].drop(dataframes[i].loc[dataframes[i]['SSID']!= 'BPGC-NAB'].index, inplace=True)      #Considering only BPGC-NAB
    dataframes[i].reset_index(drop = True, inplace=True)
    for j in range(len(dataframes[i]['Strength'])):
      dataframes[i]['Strength'][j] = str(dataframes[i]['Strength'][j]).replace('dBm', '')
    dataframes[i]['Strength'] = dataframes[i]['Strength'].astype(int)
    dataframes[i] = dataframes[i].drop(columns = ['Primary Frequency', 'Distance', '802.11mc', 'Security', 'SSID'])

In [ ]:
importing_df()
preprocessing()

In [ ]:
dataframes[0].head()

            Time Stamp              BSSID  Strength
0  2020/02/16-12:01:28  00:a3:8e:60:f2:a0       -76
1  2020/02/16-12:01:28  08:4f:a9:10:4b:80       -74
2  2020/02/16-12:01:28  70:ea:1a:22:8f:e0       -61
3  2020/02/16-12:01:28  70:ea:1a:22:96:20       -81
4  2020/02/16-12:01:28  70:ea:1a:22:96:a0       -74

### We'll group the data entries according to Time Stamp and the APs that are not recorded will be assigned some value

### Finding Unique BSSID Values

In [ ]:
BSSID = []
def unique_BSSID():
  for i in range(len(dataframes)):
    df_temp = dataframes[i]
    for j in df_temp['BSSID']:
      BSSID.append(j)
unique_BSSID()
BSSID = list(set(BSSID))
print(BSSID, len(BSSID))

['a8:b4:56:cc:de:00', '08:4f:a9:30:00:00', '70:ea:1a:22:ac:00', '08:4f:a9:10:4b:80', '08:4f:a9:39:6a:40', '08:4f:a9:39:68:20', '70:ea:1a:22:a5:a0', '70:ea:1a:22:96:00', '70:ea:1a:22:a9:a0', '08:4f:a9:2d:8a:a0', '70:ea:1a:22:97:80', '00:a3:8e:4e:29:a0', 'a8:b4:56:ca:8f:40', '68:3b:78:e9:c0:e0', '70:ea:1a:22:92:40', '70:ea:1a:22:a9:40', '70:ea:1a:22:9f:20', '70:ea:1a:22:87:60', '70:ea:1a:22:9b:e0', '70:ea:1a:22:9f:80', '08:4f:a9:2d:77:40', '08:4f:a9:2d:8a:40', '70:ea:1a:22:a0:20', '00:a3:8e:60:f2:a0', '70:ea:1a:22:96:20', '70:ea:1a:22:9b:80', '08:4f:a9:43:38:a0', '70:ea:1a:22:8f:e0', '70:ea:1a:22:9f:e0', '70:ea:1a:22:96:a0', '70:ea:1a:22:98:20', '08:4f:a9:39:68:40'] 32

In [ ]:
#sorting BBSID
BSSID.sort()

In [ ]:
'''
BSSIDs are sorted and they have a fixed location in the list after sorting. We need a dictionary that maps the BSSIDs to their location
'''
Dict = {}
for i in range(len(BSSID)):
  Dict[BSSID[i]] = i

print(Dict)

{'00:a3:8e:4e:29:a0': 0, '00:a3:8e:60:f2:a0': 1, '08:4f:a9:10:4b:80': 2, '08:4f:a9:2d:77:40': 3, '08:4f:a9:2d:8a:40': 4, '08:4f:a9:2d:8a:a0': 5, '08:4f:a9:30:00:00': 6, '08:4f:a9:39:68:20': 7, '08:4f:a9:39:68:40': 8, '08:4f:a9:39:6a:40': 9, '08:4f:a9:43:38:a0': 10, '68:3b:78:e9:c0:e0': 11, '70:ea:1a:22:87:60': 12, '70:ea:1a:22:8f:e0': 13, '70:ea:1a:22:92:40': 14, '70:ea:1a:22:96:00': 15, '70:ea:1a:22:96:20': 16, '70:ea:1a:22:96:a0': 17, '70:ea:1a:22:97:80': 18, '70:ea:1a:22:98:20': 19, '70:ea:1a:22:9b:80': 20, '70:ea:1a:22:9b:e0': 21, '70:ea:1a:22:9f:20': 22, '70:ea:1a:22:9f:80': 23, '70:ea:1a:22:9f:e0': 24, '70:ea:1a:22:a0:20': 25, '70:ea:1a:22:a5:a0': 26, '70:ea:1a:22:a9:40': 27, '70:ea:1a:22:a9:a0': 28, '70:ea:1a:22:ac:00': 29, 'a8:b4:56:ca:8f:40': 30, 'a8:b4:56:cc:de:00': 31}

In [ ]:
mvg_dist_df = []
for j in range(len(dataframes)):
  mvg_dist = []
  timestamps_seen = []
  for i in range(len(dataframes[j])):
    timestamp = dataframes[j].iloc[i]['Time Stamp']
    if timestamp not in timestamps_seen:
      timestamps_seen.append(timestamp)
      scan = ['#']*32
      scan[Dict[dataframes[j].iloc[i]['BSSID']]] = dataframes[j].iloc[i]['Strength']
      mvg_dist.append(scan)
    else:
      mvg_dist[timestamps_seen.index(timestamp)][Dict[dataframes[j].iloc[i]['BSSID']] -1] = dataframes[j].iloc[i]['Strength']
  mvg_dist_df.append(pd.DataFrame(mvg_dist))

In [ ]:
mvg_dist_df[0].head()

  0    1    2  3  4  5  6  7  8  9   ... 22 23   24   25 26  27   28  29   30 31
0  #  -74    #  #  #  #  #  #  #  #  ...  #  #  -75  -77  # -79  -74 -75  -73  #
1  #    #  -70  #  #  #  #  #  #  #  ...  #  #    #    #  # -80    # -72    #  #
2  #    #  -64  #  #  #  #  #  #  #  ...  #  #    #    #  # -80    # -67    #  #
3  #    #  -64  #  #  #  #  #  #  #  ...  #  #    #    #  # -80    # -67    #  #
4  #    #  -64  #  #  #  #  #  #  #  ...  #  #    #    #  # -80    # -67    #  #

[5 rows x 32 columns]

### This overall need to be a Gaussian Distribution. So replacing '#' from a Gaussian Dist. of mean = -94 and std. deviation = 3

In [ ]:
np.random.seed(42)
def fillwithrandom(df):
  for i in range(len(df)):
    for j in df.columns:
      if df.iloc[i][j] == '#':
        df.loc[i,j] = np.random.normal(-94, 3)
  df = df.apply(pd.to_numeric)
  return df

In [ ]:
for i in range(len(mvg_dist_df)):
  mvg_dist_df[i] = fillwithrandom(mvg_dist_df[i])

### We now need the mean and covariance vector for every dist.

In [ ]:
mean = []
for i in mvg_dist_df:
  mean.append(list(i.mean(axis = 0)))

In [ ]:
print(mean[0])

[-93.9208215561287, -93.9709286033854, -64.60691321505855, -94.15587774236808, -93.7377526380532, -93.98267769559169, -93.76325145644799, -93.128292455751, -94.02183956496762, -94.09008293638068, -93.77850925171047, -94.17831908472152, -60.15, -94.16142109246098, -93.58963094420615, -75.15, -71.08333333333333, -93.13834611373136, -93.18459536804428, -94.04614769713814, -93.52639614283696, -93.6848325918968, -93.92368663159712, -93.75220555237684, -94.15024586986505, -94.10797100398273, -93.46355108161553, -79.98333333333333, -93.22967048820331, -67.21666666666667, -93.81558317769102, -93.84640060026283]

In [ ]:
cov = []
for i in mvg_dist_df:
  cov.append(i.cov().to_numpy())

In [ ]:
#cov[0]

### Checking if any covariance matrix is singular

In [ ]:
singular_matrix = []
for i in range(len(cov)):
  if np.linalg.det(cov[i]) == 0:
    singular_matrix.append(i)

### Sampling the columns from a gaussian dist. that have a std dev. of 0.5

In [ ]:
for i in singular_matrix:
  for j in mvg_dist_df[i].columns:
    mvg_dist_df[i].loc[:,j] = np.random.normal(mean[i][j], 0.5, len(mvg_dist_df[i].loc[:,j]))

### Recalculating Mean and Covariance

In [ ]:
mean = []
for i in mvg_dist_df:
  mean.append(np.mat(i.mean(axis = 0)))

cov = []
for i in mvg_dist_df:
  cov.append(np.mat(i.cov()))

In [ ]:
cov[0].shape

(32, 32)

In [ ]:
mvg_dist_df[0].head()

          0           1          2   ...  29         30         31
0 -92.509858  -74.000000 -94.414793  ... -75 -73.000000 -89.603054
1 -94.677329  -93.797415 -70.000000  ... -72 -96.159533 -95.381916
2 -90.828633  -92.969145 -64.000000  ... -67 -89.385890 -94.107478
3 -89.306069 -101.859235 -64.000000  ... -67 -93.216834 -93.984660
4 -94.703761  -98.246112 -64.000000  ... -67 -98.205553 -92.239429

[5 rows x 32 columns]

In [ ]:
for i in range(len(cov)):
  if np.linalg.det(cov[i]) == 0:
    print(i)

### Keeping _2 as test and _1, _4 as train

In [ ]:
test = []
train = []
test2=[]

for i in range(len(mvg_dist_df)):
  if names[i][-2:] == '_2':
    test.append(i)
  elif names[i][-2:] == '_1' or names[i][-2:] == '_4':
    train.append(i)
  else:
    test2.append(i)
print(len(train))
print(len(test))
print(len(test2))

48
24
24

In [ ]:
#train[0]

![Reference: Wikipedia](https://wikimedia.org/api/rest_v1/media/math/render/svg/ccec30a0eb27534d7c859ec72a2b07a14ec0d965)

In [ ]:
def trace(mat):
  return mat.trace()

In [ ]:
def inverse(mat):
  return np.linalg.pinv(mat)

In [ ]:
def transpose(mat):
  return mat.T

In [ ]:
def KL_dist(m0, m1): 
                    #0 - test, 1 - train
  diff = mean[m1] - mean[m0]
  #print(diff.shape)
  a = np.trace(inverse(cov[m1]) @ cov[m0])
  b = diff @ inverse(cov[m1]) @ diff.T
  c = np.log(np.linalg.det(cov[m1])/np.linalg.det(cov[m0]))
  k = mean[m0].shape[1]
  return 0.5*(a + np.linalg.det(b) - k + c)
  #return k
  #return np.subtract(mean[m1] , mean[m0]).shape# inverse(cov[m1])).shape

In [ ]:
#KL_dist(1,2)

In [ ]:
test_result = pd.DataFrame(columns = ['Original', 'Predicted'])
for j in range(len(test)):
  test_result.loc[j] = pd.Series({'Original' : names[test[j]][:-2]})

In [ ]:
for i in range(len(test)):
  position = 0
  distance = np.inf
  for j in range(len(train)):
    ans = KL_dist(test[i],train[j])
    if(ans < distance):
      distance = ans
      position = names[train[j]][:-2]
  test_result.loc[i]['Predicted'] = position

In [ ]:
test_result

     Original  Predicted
0        D267       D266
1        D250       D250
2        D262       D258
3        D168       D164
4        D269       D266
5        D160       D160
6      StairF     StairF
7          WF         WF
8        D251       D251
9        D154       D154
10  EntranceF  EntranceF
11       D249       D249
12       D156       D156
13       D252       D258
14         WG         WG
15       D266       D266
16       D164       D164
17       D153       D153
18       EEEG       EEEG
19       D170       D170
20     StairG       D154
21       D151       D153
22       D258       D258
23  EntranceG  EntranceG

In [ ]:
def match_adjacent(original_position, predicted_position):
  if (original_position=='WG' and (predicted_position == 'EntranceG' or predicted_position == 'D151')):
    return True
  elif (original_position=='D151' and (predicted_position == 'WG' or predicted_position == 'D153')):
    return True
  elif (original_position=='D153' and (predicted_position == 'D151' or predicted_position == 'D154')):
    return True
  elif (original_position=='D154' and (predicted_position == 'D153' or predicted_position == 'EEEG')):
    return True
  elif (original_position=='EEEG' and (predicted_position == 'D154' or predicted_position == 'StairG')):
    return True
  elif (original_position=='StairG' and (predicted_position == 'EEEG' or predicted_position == 'D156')):
    return True
  elif (original_position=='D156' and (predicted_position == 'StairG' or predicted_position == 'D160')):
    return True
  elif (original_position=='D160' and (predicted_position == 'D156' or predicted_position == 'D164')):
    return True
  elif (original_position=='D164' and (predicted_position == 'D160' or predicted_position == 'D168')):
    return True
  elif (original_position=='D168' and (predicted_position == 'D164' or predicted_position == 'D170')):
    return True
  elif (original_position=='D170' and (predicted_position == 'D168' or predicted_position == 'EntranceG')):
    return True
  elif (original_position=='EntranceG' and (predicted_position == 'D170' or predicted_position == 'WG')):
    return True

  elif (original_position=='EntranceF' and (predicted_position == 'WF' or predicted_position == 'D252')):
    return True
  elif (original_position=='WF' and (predicted_position == 'EntranceF' or predicted_position == 'D251')):
    return True
  elif (original_position=='D251' and (predicted_position == 'WF' or predicted_position == 'D250')):
    return True
  elif (original_position=='D250' and (predicted_position == 'D251' or predicted_position == 'D249')):
    return True
  elif (original_position=='D249' and (predicted_position == 'D250' or predicted_position == 'StairF')):
    return True
  elif (original_position=='StairF' and (predicted_position == 'D249' or predicted_position == 'D267')):
    return True
  elif (original_position=='D267' and (predicted_position == 'StairF' or predicted_position == 'D269' or predicted_position == 'D266')):
    return True
  elif (original_position=='D269' and (predicted_position == 'D267' or predicted_position == 'D266')):
    return True
  elif (original_position=='D266' and (predicted_position == 'D267' or predicted_position == 'D269' or predicted_position == 'D262')):
    return True
  elif (original_position=='D262' and (predicted_position == 'D266' or predicted_position == 'D258')):
    return True
  elif (original_position=='D258' and (predicted_position == 'D262' or predicted_position == 'D252')):
    return True
  elif (original_position=='D252' and (predicted_position == 'D258' or predicted_position == 'EntranceF')):
    return True
  else:
    return False

def relaxed_accuracy_score(df):
  sum_ans = 0
  for i in range(len(df)):
    if df['Original'][i] == df['Predicted'][i]:     #Original == Predicted exactly
      sum_ans = sum_ans + 1
    elif match_adjacent(df['Original'][i],(df['Predicted'][i])): #adjacent positions with lesser weights
      sum_ans = sum_ans + 0.5
    else:
      continue
  

  return sum_ans/(len(df))

relaxed_accuracy_score(test_result)

0.8333333333333334

In [ ]:
def exact_accuracy_score(predicted):
  sum_ans = 0
  for i in range(len(predicted)):
    if predicted['Original'][i] == predicted['Predicted'][i]:     #Original == Predicted exactly
      sum_ans = sum_ans + 1
  return sum_ans/(len(predicted))

exact_accuracy_score(test_result)

0.7083333333333334

###Multivariate Gaussian Distribution with Device calibrated values

In [ ]:
import statistics
rssi_1 = []
rssi_2 =[]
rssi_4 = []

def normalise_dataframe():
  for i in range(len(dataframes)):
    if names[i][-2:]=='_3':
      continue  #Not considering this device due to avoid Android Throttling consequences
    for j in range(len(dataframes[i])):
      if names[i][-2:]=='_1':
        rssi_1.append(dataframes[i].loc[j,'Strength'])
      if names[i][-2:]=='_2':
        rssi_2.append(dataframes[i].loc[j,'Strength'])
      if names[i][-2:]=='_4':
        rssi_4.append(dataframes[i].loc[j,'Strength'])
  mean_1=statistics.mean(rssi_1)
  mean_2=statistics.mean(rssi_2)
  mean_4=statistics.mean(rssi_4)
  stddev_1 = statistics.stdev (rssi_1)
  stddev_2 = statistics.stdev(rssi_2)
  stddev_4 = statistics.stdev(rssi_4)
  print(mean_1, mean_2, mean_4, stddev_1, stddev_2, stddev_4)
  for i in range(len(dataframes)):
    for j in range(len(dataframes[i])):
      #print("Reached" + str(j))
      if names[i][-2:]=='_1':
        dataframes[i].loc[j,'Strength'] = ((dataframes[i].loc[j,'Strength'] - mean_1 )/(stddev_1) )
      if names[i][-2:]=='_2':
        dataframes[i].loc[j,'Strength'] = ((dataframes[i].loc[j,'Strength'] - mean_2 )/(stddev_2) )
      if names[i][-2:]=='_4':
        dataframes[i].loc[j,'Strength'] = ((dataframes[i].loc[j,'Strength'] - mean_4 )/(stddev_4) )

normalise_dataframe()

-74 -66 -64 9.591663046625438 12.288205727444508 11.789826122551595

In [ ]:
mvg_dist_df = []
for j in range(len(dataframes)):
  mvg_dist = []
  timestamps_seen = []
  for i in range(len(dataframes[j])):
    timestamp = dataframes[j].iloc[i]['Time Stamp']
    if timestamp not in timestamps_seen:
      timestamps_seen.append(timestamp)
      scan = ['#']*32
      scan[Dict[dataframes[j].iloc[i]['BSSID']]] = dataframes[j].iloc[i]['Strength']
      mvg_dist.append(scan)
    else:
      mvg_dist[timestamps_seen.index(timestamp)][Dict[dataframes[j].iloc[i]['BSSID']] -1] = dataframes[j].iloc[i]['Strength']
  mvg_dist_df.append(pd.DataFrame(mvg_dist))


np.random.seed(42)
def fillwithrandom(df):
  for i in range(len(df)):
    for j in df.columns:
      if df.iloc[i][j] == '#':
        df.loc[i,j] = np.random.normal(-2, 0.1)
  df = df.apply(pd.to_numeric)
  return df

for i in range(len(mvg_dist_df)):
  mvg_dist_df[i] = fillwithrandom(mvg_dist_df[i])

mean = []
for i in mvg_dist_df:
  mean.append(list(i.mean(axis = 0)))

cov = []
for i in mvg_dist_df:
  cov.append(i.cov().to_numpy())

singular_matrix = []
for i in range(len(cov)):
  if np.linalg.det(cov[i]) == 0:
    singular_matrix.append(i)

for i in singular_matrix:
  for j in mvg_dist_df[i].columns:
    mvg_dist_df[i].loc[:,j] = np.random.normal(mean[i][j], 0.1, len(mvg_dist_df[i].loc[:,j]))

mean = []
for i in mvg_dist_df:
  mean.append(np.mat(i.mean(axis = 0)))

cov = []
for i in mvg_dist_df:
  cov.append(np.mat(i.cov()))

test = []
train = []
test2=[]

for i in range(len(mvg_dist_df)):
  if names[i][-2:] == '_2':
    test.append(i)
  elif names[i][-2:] == '_1' or names[i][-2:] == '_4':
    train.append(i)
  else:
    test2.append(i)
print(len(train))
print(len(test))
print(len(test2))

test_result = pd.DataFrame(columns = ['Original', 'Predicted'])
for j in range(len(test)):
  test_result.loc[j] = pd.Series({'Original' : names[test[j]][:-2]})

for i in range(len(test)):
  position = 0
  distance = np.inf
  for j in range(len(train)):
    ans = KL_dist(test[i],train[j])
    if(ans < distance):
      distance = ans
      position = names[train[j]][:-2]
  test_result.loc[i]['Predicted'] = position


test_result

48
24
24

     Original  Predicted
0        D267       D267
1        D250       D250
2        D262       D258
3        D168       D168
4        D269       D269
5        D160       D160
6      StairF     StairG
7          WF         WF
8        D251       D250
9        D154       EEEG
10  EntranceF       D251
11       D249       D250
12       D156       D160
13       D252       D252
14         WG         WG
15       D266       D266
16       D164       D164
17       D153       D153
18       EEEG       EEEG
19       D170       D170
20     StairG       EEEG
21       D151       D153
22       D258       D258
23  EntranceG  EntranceG

In [ ]:
print(relaxed_accuracy_score(test_result))
print(exact_accuracy_score(test_result))

0.7708333333333334
0.625